In [18]:
import pandas as pd

import package

In [19]:
df=pd.read_csv("winequalityN.csv")

import dataset

In [20]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6487.000000,6489.000000,6494.000000,6495.000000,6495.000000,6497.000000,6497.000000,6497.000000,6488.000000,6493.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.296750,0.164649,0.145265,4.758125,0.035036,17.749400,56.521855,0.002999,0.160748,0.148814,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [21]:
angka_columns = df.select_dtypes(include=['int64','float64']).columns
df[angka_columns].head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka

In [22]:
jumlah_record=len(df)
jumlah_attribute=len(df.columns)
nama_attribute=df.columns
attribute_angka=len(df.select_dtypes(['int64','float64']).columns)
dict={
    'Jumlah Record': jumlah_record,
    'Jumlah Attribute':jumlah_attribute,
    'Nama Attribute': nama_attribute,
    'Jumlah Attribute Dengan Tipe Angka': attribute_angka
}
for key,value in dict.items():
    print(f'{key} : {value}')

Jumlah Record : 6497
Jumlah Attribute : 13
Nama Attribute : Index(['type', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'],
      dtype='object')
Jumlah Attribute Dengan Tipe Angka : 12

Tampilkan informasi jumlah record,jumlah attribut,nama attribute,jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya, Tampilkan isi dari dictionary

In [23]:
df.loc[42:,"residual sugar":]

,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
42,7.4,0.069,28.0,160.0,0.99540,3.13,0.46,9.8,6
43,1.4,0.057,33.0,152.0,0.99340,3.22,0.56,9.5,6
44,1.4,0.060,33.0,154.0,0.99340,3.24,0.56,9.5,6
45,1.4,0.058,38.0,167.0,0.99310,3.16,0.53,10.0,7
46,4.4,0.063,63.0,206.0,0.99400,3.27,0.52,9.8,4
...,...,...,...,...,...,...,...,...,...
6492,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

Tampilkan nilai dataset pada baris dari 3 digit terakhir nim hingga terakhir & kolom 4 hingga akhir dengan loc

In [24]:
df.iloc[42:,4:]

,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
42,7.4,0.069,28.0,160.0,0.99540,3.13,0.46,9.8,6
43,1.4,0.057,33.0,152.0,0.99340,3.22,0.56,9.5,6
44,1.4,0.060,33.0,154.0,0.99340,3.24,0.56,9.5,6
45,1.4,0.058,38.0,167.0,0.99310,3.16,0.53,10.0,7
46,4.4,0.063,63.0,206.0,0.99400,3.27,0.52,9.8,4
...,...,...,...,...,...,...,...,...,...
6492,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

Tampilkan nilai dataset pada baris dari 3 digit terakhir nim hingga terakhir & kolom 4 hingga akhir dengan iloc

In [25]:
object_columns = df.select_dtypes(include=['object']).columns
df[object_columns].value_counts()

type
white    4898
red      1599
dtype: int64

Tampilkan jumlah label dari semua attrubute yang bernilai object